### 리스트
- 순서가 있다
- 수정가능하다
- 대괄호 []로 작성되고 콤마(,)로 구분한다
- 추가, 수정 삭제 가능

In [2]:
# 리스트 선언하기
list1 = [3]
list1

[3]

In [3]:
list2 = [1,2,3,4,5,6,7,8,9,10]
list2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
# 요소가 없어도 비어있는 리스트
list3 = []
list3

[]

In [21]:
# 리스트 선언하기 2
list1 = [1,2,3,4,5] # 정수형
list2 = [1.4, 5.2, 6.0 , 2.3] #실수형
list3 = ['치킨', '피자', '빵', '마카롱'] # 문자열
list4 = [True, False, True, False] # 논리 자료형
list5 = [1, 2, 3, 'a', 'b'] # 다양한 자료형
list6 = [1, 2, 4, ['a', 'b', 'c']] # 리스트도 요소로!

In [8]:
list5

[1, 2, 3, 'a', 'b']

In [11]:
type(list6)

list

### 인덱싱, 슬라이싱

In [14]:
# 원하는 위치 가르키기, 잘라오기
# 인덱싱
print(list1)
print(list1[2])
print(list1[-3])

[1, 2, 3, 4, 5]
3
3

In [20]:
list2 = [1,2,3,['a','b', 'c']]
print(list2)
# temp 변수에 ['a', 'b', 'c'] 저장 후 출력
temp = list2[3]
# temp 변수에서 'b' 만 출력
print(temp[1])
# list2에서 'b'
list2[3][1]

[1, 2, 3, ['a', 'b', 'c']]
b

'b'

In [25]:
# 슬라이싱
print(list3)
print(list3[1:3]) # 결과 -> 리스트로 반환

['치킨', '피자', '빵', '마카롱']
['피자', '빵']

- 리스트 더하기

In [28]:
# 요소끼리(값)의 연산이 아니라 리스트가 이어 붙어
list1 = [1,2,3]
list2 = [4,5,6]
list1 + list2

[1, 2, 3, 4, 5, 6]

In [31]:
print(list1[0])
print(list2[0])
print(list1[0]+list2[0])

1
4
5

In [32]:
# ↓리스트로 반환     ↓정수 데이터 반환
list1[0:2]        +  list2[0]

TypeError: can only concatenate list (not "int") to list

In [35]:
# 리스트 값(요소) 수정
# 인덱싱 - (자리)가르키다
list3 =[0, 1, 2, 3, 4, 5]
print(list3)
print(list3[3])
list3[3] = 100 # 해당 자리에 100값 대입!
print(list3)

[0, 1, 2, 3, 4, 5]
3
[0, 1, 2, 100, 4, 5]

In [38]:
# 슬라이싱 - 리스트 자료형 이용하여 수정
print(list3)
print(list3[1:3])
list3[1:3] = [200]

[0, 1, 2, 100, 4, 5]
[1, 2]

In [39]:
list3

[0, 200, 100, 4, 5]

- 리스트 함수

In [41]:
# 리스트 값 추가 1 - append(값)
# 맨 뒤에 값 추가
list4 = []

list4.append(2)
list4.append(5)
list4.append(10)

list4

[2, 5, 10]

In [43]:
# 리스트 값 추가 2 - insert(인덱스, 값)
print(list3)

list3.insert(1,3)
print(list3)

[0, 3, 200, 100, 4, 5]
[0, 3, 3, 200, 100, 4, 5]

In [44]:
# 리스트 값 삭제 1 - remove(값)
print(list4)
list4.remove(5)
print(list4)

[2, 5, 10]
[2, 10]

In [46]:
list5.remove('a')

In [47]:
list5

[1, 2, 3, 'b']

In [49]:
# 리스트 값 삭제 2 - del
# del 리스트[인덱싱]
# del 리스트[슬라이싱]
# del 리스트
print(list3)
del list3[2] # 인덱싱, 슬라이싱
print(list3)

[0, 3, 3, 200, 100, 4, 5]
[0, 3, 200, 100, 4, 5]

In [50]:
del list3

In [52]:
# 리스트 요소 정렬 - sort()
# 오름차순
list7 = [3, 50, 62, 15, 82]
print(list7)
list7.sort()
print(list7)

[3, 50, 62, 15, 82]
[3, 15, 50, 62, 82]

In [54]:
# 리스트 요소 거꾸로 뒤집기 - reverse()
list8 = [2 ,10, 63, 28, 93]
print(list8)
list8.reverse()
print(list8)

[2, 10, 63, 28, 93]
[93, 28, 63, 10, 2]

In [56]:
# 내림차순 정렬?
list8 = [2 ,10, 63, 28, 93]
list8.sort()
list8.reverse()
list8

[93, 63, 28, 10, 2]

In [58]:
list8 = [2 ,10, 63, 28, 93]
print(list8)
# sort 함수의 reverse = False 기본값, default값
# reverse = True로 바꾸면 내림차순 정렬
list8.sort(reverse=True)
print(list8)

[2, 10, 63, 28, 93]
[93, 63, 28, 10, 2]

In [61]:
# pop() 함수
# 마지막 값을 반환 후 제거
print(list8)
list8.pop()
print(list8)

[93, 63, 28, 10, 2]
[93, 63, 28, 10]

In [62]:
print(list8)
a = list8.pop()
print(list8)
print(a)

[93, 63, 28, 10]
[93, 63, 28]
10

In [63]:
# 리스트 값의 개수 반환
print(list5)
len(list5)

[1, 2, 3, 'b']

4

### 튜플
- 순서가 있다.
- 수정 불가능하다.
- 소괄호 ()로 작성되고, 콤마(,)로 구분한다.

In [64]:
# 튜플 생성하기
tuple1 = (1,2,3,4,5)
tuple2 = ('블루베리', '체리', '딸기')
tuple3 = (True, False, 1, 2, '딸기케이크')
tuple4 = (1, 2, 3, ('삼겹살', '양념갈비'))

In [65]:
tuple4

(1, 2, 3, ('삼겹살', '양념갈비'))

### 인덱싱, 슬라이싱

In [66]:
# tuple4에서 '양념갈비' 출력
print(tuple4[3][1]) # 인덱싱

양념갈비

In [67]:
# 슬라이싱
print(tuple4)
tuple4[:2]

(1, 2, 3, ('삼겹살', '양념갈비'))

(1, 2)

In [68]:
# 튜플 요소 갯수 확인 - len()
len(tuple4)

4

In [70]:
# 튜플은 추가, 수정, 삭제 불가능
tuple4[2] = 3

TypeError: 'tuple' object does not support item assignment

In [72]:
# in, not in (포함여부에 따라 True)
str1 = "세연쌤은 스무살^^"
'스무살' in str1

True

In [73]:
'스물' in str1

False

In [75]:
list8 = ['도영', '준용', '창현', '세윤', '승윤']
'세윤' in list8
'룰라' not in list8

True